<div class="content">
  <mat-card class="card">
    <h1 class="card__header">Lista de tareas</h1>
    <mat-card-content class="card__body">
      <mat-form-field>
        <mat-label>Nueva tarea</mat-label>
        <input matInput type="text" [(ngModel)]="value" />
        <button matSuffix mat-icon-button (click)="addTodo(value)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
      <div *ngFor="let todosEntry of todos; trackBy: trackByTodos">
        <div class="card__body__row">
          <mat-checkbox
            [checked]="todosEntry.completed"
            (change)="
              todosEntry.completed
                ? markAsPending(todosEntry)
                : markAsCompleted(todosEntry)
            "
          ></mat-checkbox>
          <div>{{ todosEntry.description }}</div>
          <button mat-icon-button (click)="removeTodo(todosEntry)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <button mat-stroked-button (click)="clearCompleted()">
          Eliminar tareas completadas
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

{{ todos | json }}
